
<header>
    <p>{{title}}</p>
    <ul>
        
        <li><a href="/home">home</a></li>
        <li><a href="/postimage">post</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/">logout</a></li>
        <li><a href="/test">test</a></li>
        
    </ul>
</header>