<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stlyesheet" href="/styles/footer.css">
        <a href="#first"><i class="far fa-user"></i></a>
        <a href="#second"><i class="fas fa-briefcase"></i></a>
        <a href="#third"><i class="far fa-file"></i></a>
        <a href="#fourth"><i class="far fa-address-card"></i></a>
        <script src="/scripts/fun.js" defer> </script>
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <nav id="headernav">
        {{> header}} 
        </nav>

        <main id="mainbody">
            {{{ body }}}
        </main>

        <nav id="footernav">
            <span>
            {{> footer}}
            </span>
        </nav>


    </body>
</html>