<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/main.css">
        <script src="/scripts/fun.js" defer></script>
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <nav id="headernav">
            {{> header}}
        </nav>
        <main>
            {{{ body }}}
        </main>
        <footer>
            {{> footer}}
        </footer>
    </body>
</html>