<!DOCTYPE html>
<html>
    <head>
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <nav>
            {{> header}}
        </nav>
        {{{ body }}}
        {{> footer}}
    </body>
</html>