<div id="home">


<button onclick='fun()'>fun</button>           
<button onclick="nofun()">no fun</button>
<a href="/postimage">Post an Image</a>

<p id="result"></p>
</div>

<p>logged in: {{ loggedin }}</p>