<h1>ArtDrop deserves to exist! </h1>

<p>Being Developed by {{ name }}</p>

<body>
    <form action="/insert" method="post">
            <input type="text" name="username" placeholder="enter username: ">
            <br />
            <input type="password" name="userpw" placeholder="enter password: ">
            <br />
            <button type="submit">Search

            
            </button> </form>
            
            <button onclick="fun"></button>
            <button onclick="notFub"></button>
</body>