<link rel="stylesheet" href="../styles/main.css">
<div class="home">

    {{!<button onclick='fun()'>fun</button>
    <button onclick="nofun()">no fun</button>}}
    <a href="/postimage">Post an Image</a>

    <p id="result"></p>
</div>

<div class="home.images">
    <script src="upload.js"></script>
</div>

<p>logged in: {{ loggedin }}</p>