<h1>ArtDrop deserves to exist! </h1>

<p>Being Developed by {{ name }}</p>

<body>
    <form action="/about" method="post">
            <input type="text" name="username" placeholder="enter username: ">
            <br />
            <input type="password" name="userpw" placeholder="enter password: ">
            <br />
            <button type="submit">Sign in

            
            </button> </form>
            
            <button onclick='fun'>fun :D</button>
            <button onclick="nofun"> no fun >:(</button>
</body>