<div id="home">
<h1>ArtDrop deserves to exist! </h1>

<p>Being Developed by {{ name }}</p>

<div id="login">
    <form action="/login" method="post">
            <input type="text" name="username" placeholder="enter username: ">
            <br />
            <input type="password" name="userpw" placeholder="enter password: ">
            <br />
            <button type="submit">Sign in</button> 
    </form>
</div>
<br>

<button onclick='fun()'>fun :D</button>           
<button onclick="nofun()">no fun >:(</button>

<p id="result"></p>
</div>
