<div id="home">

<div id="login">
    <form action="/login" method="post">
            <input type="text" name="username" placeholder="enter username: ">
            <br />
            <input type="password" name="userpw" placeholder="enter password: ">
            <br />
            <button type="submit">Sign in</button> 
    </form>
    <br> no account? <a href="/signup">sign up</a>
</div>
<br>

<button onclick='fun()'>fun</button>           
<button onclick="nofun()">no fun</button>

<p id="result"></p>
</div>
