<div id="signedup">
   <br><br><br> <h1>Welcome aboard {{$usern}} We're honored to have you!</h1>
    
<br><br><br><br>

    <p>log in with your new credientials here</p>

    <form action="/home" method="post">
            <input type="text" name="username" placeholder="enter username: ">
            <br />
            <input type="password" name="userpw" placeholder="enter password: ">
            <br />
            <button type="submit">Sign in</button> 
    </form>

</div>