<link rel="stylesheet" href="../styles/upload.css">
<div class="upload">
    <h1>Lets get posting</h1>

    <div class="input-div">
    <form action="/">
        <label for="img">Select image:</label>
        <input type="file" id="img" name="img" accept="image/*">
        <input type="submit">
    </form>
</div>
</div>

{{!https://www.youtube.com/watch?v=EaBSeNSc-2c}}