<div id="signup">
    <form action="/addnewuser" method="post">
            <input type="text" name="username" placeholder="enter username: ">
            <br />
            <input type="password" name="userpw" placeholder="enter password: ">
            <br />
            <button type="Register">Sign up</button> 
    </form>
    {{! <br> already have an account? <a href="/">login</a> }}
</div>

</div>