<div id="signup">
    <form action="/signup" method="post">
            <input type="text" name="username" placeholder="enter username: ">
            <br />
            <input type="password" name="userpw" placeholder="enter password: ">
            <br />
            <button type="Sign Up">Sign up</button> 
    </form>
</div>

</div>